In [3]:
from textblob import TextBlob as tb

In [4]:
analysis = tb("I hate you")

In [18]:
print(analysis.sentiment)
print(analysis.tags)
print(analysis.translate(to="es"))

Sentiment(polarity=-0.8, subjectivity=0.9)
[('I', 'PRP'), ('hate', 'VBP'), ('you', 'PRP')]
te odio

text = tb("Estoy muy feliz")
t = text.translate(to="en")
if(t.sentiment.polarity < 0):
    print("triste")
else:
    print("Feliz")
t.sentiment
#text.translate(to="en")

In [61]:
import numpy as np
import pandas as pd

In [68]:
tweets = pd.read_csv("tweets.csv")

In [72]:
new_d = tweets["Tweet Text"]
new_d[]

0     Sentado en silencio pens√°ndote a gritos. #cuar...
1     Yo ya le hablo a todos como si fueran mis mejo...
2     Una de las 485 maneras de refutar a un terrapl...
3     No salgas de casa, permite que todo llegue has...
4     No salgas de casa, permite que todo llegue has...
                            ...
95    A jugar! **Media=Secundaria #cuarentena #COVID...
96    De las maravillas que uno se encuentra en la #...
97    Doble vida. ‚úå - - - - #doblevida #bed #blue #w...
98    La apolog√≠a al pensamiento l√≥gico racional es ...
99    Ante de la #CuarentenaExtendida #CuarentenaNac...
Name: Tweet Text, Length: 100, dtype: object

In [76]:
listSen = []
for t in new_d:
    text = tb(t)
    try:
        t = text.translate(to="en")
        listSen.append(t.sentiment.polarity)
    except:
        print("El elemento no est√° presente")

In [90]:
pdSen = pd.DataFrame(listSen)
pdSen[pdSen[0] < 0]

           0
17 -0.187500
19 -0.500000
20 -0.096875
21 -0.187500
22 -0.600000
25 -0.205000
31 -0.050000
41 -0.150000
42 -0.125000
47 -0.283333
50 -0.400000
56 -0.068750
58 -0.145833
77 -0.083333
85 -0.500000
93 -0.200000
94 -0.400000
95 -0.225000

In [94]:
new_d = pd.DataFrame(new_d)

In [97]:
new_d[1] = pdSen

In [102]:
new_d[new_d[1] < 0]

                                           Tweet Text         1
17  Domingo de pascua üê∞ü•öüê£ Los espero por aqu√≠ a la... -0.187500
19  Ya me estoy aburriendo de esta #cuarentena ya ... -0.500000
20  Hola, aprovechando la cuarentena y para que no... -0.096875
21  Ayer sal√≠ a la terraza un ratito #QuedateEnCas... -0.187500
22  La #cuarentena me tiene inventando cosas con l... -0.600000
25  Se extiende la #cuarentena en #Venezuela por 3... -0.205000
31  Tengo miedo de que safaera pase de moda y yo s... -0.050000
41  (1/2) Una amiga, ayer, se molestaba conmigo po... -0.150000
42  #Mundo Cubanos rompen la #cuarentena por #coro... -0.125000
47  ¬øSabes diferenciar un fuerte dolor de cabeza a... -0.283333
50  ¬°Recomendado de #sabado Kingsman!üòâ Gary "Eggsy... -0.400000
56  Este cumplea√±os ha sido extra√±o es el a√±o que ... -0.068750
58  Antes me costaba el ingl√©s y ahora creo que pu... -0.145833
77  Obviamente, al r√©gimen no le importa lo que pu... -0.083333
85  #Maluma se aburre en #cuarentena y comparte su... -0.500000
93  Leer urgente, esto pasa cuando quien debe info... -0.200000
94  Otra noche, otra oportunidad para adivinar el ... -0.400000
95  A jugar! **Media=Secundaria #cuarentena #COVID... -0.225000

In [106]:
new_d["Tweet Text"][94]

'Otra noche, otra oportunidad para adivinar el juego de #Cuarentena Sin repetir ni soplar: ¬øQu√© pel√≠cula estamos mirando? #SinRepetirNiSoplar'

In [112]:
train = pd.read_csv("train.csv", engine='python')
train[train["Sentiment"] == 0]

       ItemID  Sentiment                                      SentimentText
0           1          0                       is so sad for my APL frie...
1           2          0                     I missed the New Moon trail...
3           4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4           5          0           i think mi bf is cheating on me!!!   ...
5           6          0                  or i just worry too much?
...       ...        ...                                                ...
99975   99987          0  @ctham @mommyfizz cuz you big burly man.  haha...
99981   99993          0  @cup_a_tea The foot is really bad. Like the wo...
99983   99995          0  @cupati It took me waaay too long to get your ...
99984   99996          0  @Cupcake  seems like a repeating problem   hop...
99986   99998          0                     @CuPcAkE_2120 ya i thought so

[43532 rows x 3 columns]

In [119]:
train[train["Sentiment"] == 1][1:100]

     ItemID  Sentiment                                      SentimentText
6         7          1                 Juuuuuuuuuuuuuuuuussssst Chillin!!
8         9          1        handed in my uniform today . i miss you ...
9        10          1           hmmmm.... i wonder how she my number @-)
11       12          1        thanks to all the haters up in my face a...
17       18          1      Feeling strangely fine. Now I'm gonna go l...
..      ...        ...                                                ...
270     271          1     man, oh man     (i should punch myself in t...
271     272          1     my friends can get with ur friends and we c...
275     276          1     such a beautiful satisfying day of bargain ...
277     278          1     thank god today is friday !!! I love Ti Ti!...
279     280          1       thrilled about being at work this morning

[99 rows x 3 columns]

In [131]:
a = tb("Sunny Again Work Tomorrow :-|")
print(a.sentiment)
print(a.translate(to="es"))

Sentiment(polarity=0.0, subjectivity=0.0)
Sunny Again Work Tomorrow: - |

In [128]:
# Seleccionar los primeros 500 tweets negativos
tNeg = train[train["Sentiment"] == 0][1:500]
tNeg

     ItemID  Sentiment                                      SentimentText
1         2          0                     I missed the New Moon trail...
3         4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4         5          0           i think mi bf is cheating on me!!!   ...
5         6          0                  or i just worry too much?
7         8          0         Sunny Again        Work Tomorrow  :-|  ...
..      ...        ...                                                ...
743     744          0   @beckobviously i have no car to come to you e...
744     745          0                 @belllareow has disappeared again
745     746          0  - @billyraycyrus oi tell your daughter to lowe...
746     747          0  - @brooklyn_belle LOL. &quot;cat.&quot; I'm a ...
748     749          0   @cnnbrk: Farrah Fawcett, star of &quot;Charli...

[499 rows x 3 columns]

In [133]:
words_s = pd.read_csv("https://raw.githubusercontent.com/jboscomendoza/rpubs/master/sentimientos_afinn/lexico_afinn.en.es.csv", engine="python")
words_s

         Palabra  Puntuacion       Word
0        a bordo           1     aboard
1       abandona          -2   abandons
2     abandonado          -2  abandoned
3      abandonar          -2    abandon
4        abatido          -2   dejected
...          ...         ...        ...
2471       wowww           4      wowww
2472         wtf          -4        wtf
2473       yeees           2      yeees
2474         NaN          -2      blame
2475         NaN          -2     blames

[2476 rows x 3 columns]

In [134]:
words_s[-50:-1]

                Palabra  Puntuacion           Word
2426           vibrante           3        vibrant
2427            vicioso          -2        vicious
2428            v√≠ctima          -2       casualty
2429            v√≠ctima          -3         victim
2430           v√≠ctimas          -3     victimized
2431           v√≠ctimas          -3        victims
2432  v√≠ctimas mortales          -3     fatalities
2433          victimiza          -3     victimizes
2434      victimizadora          -3    victimizing
2435         victimizar          -3      victimize
2436          victorias           4           wins
2437         victorioso           4        winning
2438          vigilante           3       vigilant
2439                vil          -3           vile
2440          vindicado           2     vindicated
2441           vindicar           2      vindicate
2442              viola          -2       violates
2443          violaci√≥n          -4           rape
2444            violado          -2       violated
2445           violador          -4         rapist
2446             violar          -2        violate
2447             violar          -2      violating
2448          violencia          -3       violence
2449           violento          -3        violent
2450           virtuoso           2       virtuous
2451          virulento          -2       virulent
2452             visi√≥n           1         vision
2453             visi√≥n           1      visioning
2454         visionario           3      visionary
2455           visiones           1        visions
2456          vitalidad           3       vitality
2457           vitamina           1        vitamin
2458         vitri√≥lico          -3      vitriolic
2459              viudo          -1        widowed
2460               viva           1          alive
2461              vivaz           3      vivacious
2462        vociferante          -1     vociferous
2463     vulnerabilidad          -2  vulnerability
2464         vulnerable          -2     vulnerable
2465             WINWIN           3         winwin
2466                won           3            won
2467             woohoo           3         woohoo
2468               wooo           4           wooo
2469               woow           4           woow
2470              wOWOW           4          wowow
2471              wowww           4          wowww
2472                wtf          -4            wtf
2473              yeees           2          yeees
2474                NaN          -2          blame